@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0 auto;
  max-width: 400px;
}

.loader {
  margin: 100px auto;
}

.auth-form {
  margin-top: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-details {
  display: flex;
  justify-content: space-between;
}
.user-actions {
  display: flex;
  flex-direction: column;
}
