{"swagger":"2.0","info":{"version":"1.7.0","title":"ias","contact":{"name":""},"license":{"name":"","url":""}},"host":"api.ncr.com","basePath":"/ias/v1","schemes":["https"],"paths":{"/item-availability/{itemCode}":{"get":{"tags":["item-availability"],"summary":"","description":"This rest endpoint retrieves the availability information for the specified item & enterprise unit. Requires the IAS_SINGLE_ITEM_VIEWER role.","operationId":"item-availability.getItemAvailability","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"This is the specific location that the request is coming from","required":true,"type":"string","x-example":"fa1c76208a3e4e319a0c7eb9a7c7b75e"},{"name":"itemCode","in":"path","description":"This is the item code of the operation","required":true,"type":"string"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemAvailabilityData"}}},"responsesObject":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemAvailabilityData"}}},"x-authorities":{"roles":["IAS_SINGLE_ITEM_VIEWER"]}},"put":{"tags":["item-availability"],"summary":"","description":"This rest endpoint updates the availability information for the specified item & enterprise unit. Requires the IAS_SINGLE_ITEM_ADMINISTRATOR role.","operationId":"item-availability.setItemAvailability","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ItemAvailabilityData"}},{"name":"nep-enterprise-unit","in":"header","description":"This is the specific location that the request is coming from","required":true,"type":"string","x-example":"fa1c76208a3e4e319a0c7eb9a7c7b75e"},{"name":"itemCode","in":"path","description":"This is the item code of the operation","required":true,"type":"string"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"}},"responsesObject":{"204":{"description":"No Content"}},"x-authorities":{"roles":["IAS_SINGLE_ITEM_ADMINISTRATOR"]}}},"/item-availability":{"get":{"tags":["item-availability"],"summary":"","description":"This rest endpoint retrieves all unavailable items either for a specified enterprise unit or an organization. To get all unavailable items for an enterprise unit, user need to pass an enterprise unit id in NEP-ENTERPRISE-UNIT header parameter. Requires the IAS_MULTI_ITEM_VIEWER role.","operationId":"item-availability.getMutliItemAvailability","parameters":[{"name":"pageNumber","in":"query","description":"The requested page number (starting from zero)","required":false,"type":"integer","default":0,"maximum":214748,"minimum":0,"format":"int32","x-example":0},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","default":200,"maximum":10000,"minimum":10,"format":"int32","x-example":200},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MultiItemAvailabilityResponse"}}},"responsesObject":{"200":{"description":"OK","schema":{"$ref":"#/definitions/MultiItemAvailabilityResponse"}}},"x-authorities":{"roles":["IAS_MULTIPLE_ITEMS_VIEWER"]}},"put":{"tags":["item-availability"],"summary":"","description":"This rest endpoint updates the availability information for all items in the request for a specific enterprise unit. Requires the IAS_MULTI_ITEM_ADMINISTRATOR role.","operationId":"item-availability.setMutliItemAvailability","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/MultiItemAvailabilityRequest"}},{"name":"nep-enterprise-unit","in":"header","description":"This is the specific location that the request is coming from","required":true,"type":"string","x-example":"fa1c76208a3e4e319a0c7eb9a7c7b75e"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"}},"responsesObject":{"204":{"description":"No Content"}},"x-authorities":{"roles":["IAS_MULTIPLE_ITEMS_ADMINISTRATOR"]}},"delete":{"tags":["item-availability"],"summary":"","description":"This rest endpoint will clear all unavailable items for the specified enterprise unit. Requires the IAS_CLEAR_ALL role.","operationId":"item-availability.clearAllItemAvailability","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"This is the specific location that the request is coming from","required":true,"type":"string","x-example":"fa1c76208a3e4e319a0c7eb9a7c7b75e"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"}},"responsesObject":{"204":{"description":"No Content"}},"x-authorities":{"roles":["IAS_CLEAR_ALL"]}}},"/item-availability/subscriptions":{"post":{"tags":["item-availability"],"summary":"","description":"This rest endpoint will create a subscription to the 'ias_availability_changed_topic' topic that will be filtered based on the requesting organization and enterprise unit. Requires the IAS_MESSAGING_SUBSCRIBER role.","operationId":"item-availability.addSubscription","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ItemAvailabilityChangedSubscriptionRequest"}},{"name":"nep-enterprise-unit","in":"header","description":"This is the specific location that the request is coming from","required":true,"type":"string","x-example":"fa1c76208a3e4e319a0c7eb9a7c7b75e"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UrlSubscriptionViewData"}}},"responsesObject":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UrlSubscriptionViewData"}}},"x-authorities":{"roles":["IAS_MESSAGING_SUBSCRIBER"]}}},"/item-availability/organization-subscriptions":{"post":{"tags":["item-availability"],"summary":"","description":"This rest endpoint will create a subscription to the 'ias_availability_changed_topic' topic that will be filtered based on the requesting organization. Requires the IAS_MESSAGING_SUBSCRIBER role.","operationId":"item-availability.addOrganizationSubscription","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ItemAvailabilityChangedSubscriptionRequest"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UrlSubscriptionViewData"}}},"responsesObject":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UrlSubscriptionViewData"}}},"x-authorities":{"roles":["IAS_MESSAGING_SUBSCRIBER"]}}},"/item-availability/subscriptions/{name}":{"delete":{"tags":["item-availability"],"summary":"","description":"This rest endpoint will delete the subscription with the specified name. Requires the IAS_MESSAGING_SUBSCRIBER role.","operationId":"item-availability.deleteSubscription","parameters":[{"name":"","in":"path","required":true,"type":"string"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The subscription does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"responsesObject":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The subscription does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["IAS_MESSAGING_SUBSCRIBER"]}}}},"definitions":{"ItemAvailabilityData":{"type":"object","properties":{"availableForSale":{"type":"boolean","description":"Flag to indicate item availability"}}},"ItemAvailabilityWriteData":{"type":"object","properties":{"availableForSale":{"type":"boolean","description":"Flag to indicate item availability"},"itemCode":{"type":"string","minLength":1,"maxLength":100,"pattern":"\\p{Alnum}[\\w-]*"}}},"MultiItemAvailabilityRequest":{"type":"object","properties":{"multiItemAvailabilityWriteData":{"type":"array","items":{"$ref":"#/definitions/ItemAvailabilityWriteData"}}}},"MultiItemAvailabilityResponse":{"type":"object","properties":{"lastPage":{"type":"boolean","description":"Indicates whether the return page is last."},"pageNumber":{"type":"integer","format":"int32","example":1,"description":"Number of the returned page."},"totalPages":{"type":"integer","format":"int64","example":1,"description":"The total number of result pages available","minimum":0},"totalResults":{"type":"integer","format":"int64","example":1,"description":"The total number of results available","minimum":0},"pageContent":{"type":"array","description":"The results corresponding to the requested page of data","items":{"$ref":"#/definitions/MultiItemTenantAvailabilityData"}}}},"MultiItemTenantAvailabilityData":{"type":"object","properties":{"itemCode":{"type":"string","example":"001","description":"Identifier for an item","minLength":1,"maxLength":40,"pattern":"\\p{Alnum}[\\w-]*"},"enterpriseUnitId":{"type":"string","example":"a6c0b9c5ed4c40f8bf584dca562b47eb","description":"Enterprise unit id of site for which the item is unavailable"}}},"KeyValueData":{"type":"object","required":["key"],"properties":{"key":{"type":"string","example":"key","description":"Key that identifies this key value pair.","minLength":1,"maxLength":64,"pattern":"\\p{Alpha}[\\w\\.-]*"},"value":{"type":"string","example":"value","description":"Value associated with the key.","minLength":1,"maxLength":512}},"description":"A simple key-value pair"},"TopicIdData":{"type":"object","required":["name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":256,"pattern":"\\p{Alpha}[\\w-]*"}}},"UrlEndpointData":{"type":"object","required":["description","destinationUrl","name"],"properties":{"name":{"type":"string","minLength":1,"maxLength":200,"pattern":"\\p{Alpha}[\\w-]*"},"description":{"type":"string","minLength":1,"maxLength":512,"pattern":"[\\p{L}\\p{N}].*"},"destinationUrl":{"type":"string","minLength":5,"maxLength":1024}}},"UrlSubscriptionViewData":{"type":"object","required":["description","endpoint","name","topicId"],"properties":{"name":{"type":"string","minLength":1,"maxLength":200,"pattern":"\\p{Alpha}[\\w-]*"},"description":{"type":"string","minLength":1,"maxLength":512,"pattern":"[\\p{L}\\p{N}].*"},"topicId":{"$ref":"#/definitions/TopicIdData"},"messageAttributePatterns":{"type":"array","items":{"$ref":"#/definitions/KeyValueData"}},"payloadDelivered":{"type":"boolean"},"endpoint":{"$ref":"#/definitions/UrlEndpointData"}}},"AuthenticationData":{"type":"object","required":["authenticationType","credentials"],"properties":{"authenticationType":{"type":"string","enum":["BASIC"]},"credentials":{"type":"string","minLength":1,"maxLength":500}}},"ItemAvailabilityChangedSubscriptionRequest":{"type":"object","required":["description","endpoint","name"],"properties":{"name":{"type":"string","example":"item_change_event_subscription","description":"Name of the subscription","minLength":1,"maxLength":200,"pattern":"\\p{Alpha}\\w*"},"description":{"type":"string","example":"Notification when data changes","description":"Describes notifications delivered when item availablity changes","minLength":1,"maxLength":512,"pattern":"[\\p{L}\\p{N}].*"},"payloadDelivered":{"type":"boolean"},"endpoint":{"$ref":"#/definitions/UrlEndpointData"},"authenticationCredentials":{"$ref":"#/definitions/AuthenticationData"}}},"PayloadConstraintViolationException":{"type":"object","required":["errorType","message"],"properties":{"message":{"type":"string","description":"The error message"},"details":{"type":"array","description":"Details associated with the error","items":{"type":"string"}},"errorType":{"type":"string","description":"The unique fully-qualified class name identifying the exception"},"constraintViolations":{"type":"array","description":"Constraint violation details","items":{"$ref":"#/definitions/ConstraintViolationData"}}},"description":"The request failed validation"},"ResourceDoesNotExistException":{"type":"object","required":["errorType","message"],"properties":{"message":{"type":"string","description":"The error message"},"details":{"type":"array","description":"Details associated with the error","items":{"type":"string"}},"errorType":{"type":"string","description":"The unique fully-qualified class name identifying the exception"}},"description":"Resource does not exist"},"BusinessException":{"type":"object","required":["errorType","message"],"properties":{"message":{"type":"string","description":"The error message"},"details":{"type":"array","description":"Details associated with the error","items":{"type":"string"}},"errorType":{"type":"string","description":"The unique fully-qualified class name identifying the exception"}},"description":"An error occurred while processing a request"},"HeaderConstraintViolationException":{"type":"object","required":["errorType","message"],"properties":{"message":{"type":"string","description":"The error message"},"details":{"type":"array","description":"Details associated with the error","items":{"type":"string"}},"errorType":{"type":"string","description":"The unique fully-qualified class name identifying the exception"},"constraintViolations":{"type":"array","description":"Constraint violation details","items":{"$ref":"#/definitions/ConstraintViolationData"}}},"description":"A request header failed validation"},"ConstraintViolationData":{"type":"object","properties":{"invalidValue":{"type":"string","description":"The value that failed validation"},"message":{"type":"string","description":"Message describing the violation error"},"propertyPath":{"type":"string","description":"The path of the property that failed validation"}},"description":"Captures constraint violation information for an API request. Contains error information for a property constraint violation (for instance, value too long)."},"AccessDeniedException":{"type":"object","required":["errorType","message"],"properties":{"message":{"type":"string","description":"The error message"},"details":{"type":"array","description":"Details associated with the error","items":{"type":"string"}},"errorType":{"type":"string","description":"The unique fully-qualified class name identifying the exception"}},"description":"Access denied due to insufficient privileges."},"InvalidCredentialsException":{"type":"object","required":["errorType","message"],"properties":{"message":{"type":"string","description":"The error message"},"details":{"type":"array","description":"Details associated with the error","items":{"type":"string"}},"errorType":{"type":"string","description":"The unique fully-qualified class name identifying the exception"}},"description":"The user credentials are invalid"},"TenantAccessDeniedException":{"type":"object","required":["errorType","message"],"properties":{"message":{"type":"string","description":"The error message"},"details":{"type":"array","description":"Details associated with the error","items":{"type":"string"}},"errorType":{"type":"string","description":"The unique fully-qualified class name identifying the exception"}},"description":"The user does not have access to the organization specified in the request"}}}