{"swagger":"2.0","info":{"version":"2.18.0","title":"nr1-catalog-app","contact":{"name":""},"license":{"name":"Copyright 2017 NCR Corporation. All rights reserved.","url":"http://www.ncr.com/license"}},"host":"api.ncr.com","basePath":"/catalog/v2","tags":[{"name":"/item-attributes"},{"name":"/subscriptions"},{"name":"/category-nodes"},{"name":"/item-custom-modifiers"},{"name":"/item-details"},{"name":"/item-groupings"},{"name":"/groups"},{"name":"/items"},{"name":"/link-groups"},{"name":"/item-prices"}],"schemes":["http","https"],"paths":{"/item-attributes/{itemCode}":{"get":{"tags":["/item-attributes"],"summary":"Retrieve an item-attribute document by the item-attribute resource identifier.","description":"<p>This API retrieves a single document of item-attribute based on the provided <b>itemAttributesId</b> identifier. It is executed on a context of a single enterprise unit which is expected to be passed as a standard header.</p><p><h3>Input parameter:- </h3><code>itemAttributesId</code>: Resource identifier for the item attributes.<br/><h3>Returns:</h3> All of the fields of a single catalog item-attributes document, including read-only system generated/assigned fields.","operationId":"item-attributes.get","parameters":[{"name":"itemCode","in":"path","description":"A unique item (unique per Tenant) code which is used to identify the item.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit identifier for which the item attributes are defined.","required":true,"type":"string"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemAttributesViewData"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The itemattributes does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}},"put":{"tags":["/item-attributes"],"summary":"Creates/Updates an item-attribute document for a specific enterprise unit (site/store).","description":"<p>This API creates/updates item-attribute document for the provided <b>itemCode</b>. If the item-attribute already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document. This API is executed on a context of a single enterprise unit which is expected to be passed as a standard header.</p><p><h3>Input parameters:-</h3><code>itemAttributesId:</code> Identifier object that binds item to enterprise unit<br/><code>itemAttributesData:</code> Request object to create an item attribute for an enterprise unit.</p>","operationId":"item-attributes.save","parameters":[{"name":"itemCode","in":"path","description":"A unique item (unique per Tenant) code which is used to identify the item.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit identifier for which the item attributes are defined.","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ItemAttributesData"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_ADMINISTRATOR"]}}},"/item-attributes/snapshot":{"get":{"tags":["/item-attributes"],"summary":"Get the snapshot based on the provided enterprise unit.","description":"<p>Item attribute document synchronization API that is used to synchronize the resource state with the remote client such as POS, Store Server or mobile device. This API requires specifying enterprise unit id that matches the client synchronization system (e.g. store server or POS). Results are filterable by <i>STATUS</i> using the query parameter <code>status=<i>desiredResourceStatus</i></code>.</p><p><h3>Input parameter:</h3><code>request</code>: Snapshot request containing snapshotVersion and enterpriseUnitId<br/><h3>Returns:</h3> Snapshot that matches the request parameters (e.g. all item-attributes modified since the submitted client version.)<br/><br/><b>If the the result payload exceeds maximum size (generally around 10K records), the document synchronization cannot be accomplished using APIs. The client should wait a few moments for the file to be available at the provided URI in the details.</b></p>","operationId":"item-attributes.getSnapshot","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit identifier for which the documents are defined.","required":true,"type":"string"},{"name":"nep-snapshot-version","in":"header","description":"Version of the client state. This attribute will be used by the back-end to identify the snapshot that should be generated per client. In a simple case, the version is a timestamp (epoch time in millis) and the generated snapshot will contain all documents modified since the provided timestamp.","required":false,"type":"integer","minimum":0,"format":"int64"},{"name":"status","in":"query","description":"Flag to filter just one status type.","required":false,"type":"string","enum":["INACTIVE","ACTIVE","DISCONTINUED","SEASONAL","TO_DISCONTINUE","UNAUTHORIZED"]},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetItemAttributesSnapshotResponse"}},"302":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis, but there is already a response available at a new location.","schema":{"$ref":"#/definitions/PayloadExistsException"},"x-exception-types":["com.ncr.ocp.catalog.common.PayloadExistsException"]},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"409":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis. the client should wait for the file to be available at the provided uri in the details.","schema":{"$ref":"#/definitions/MaxPayloadSizeExceededException"},"x-exception-types":["com.ncr.ocp.catalog.common.MaxPayloadSizeExceededException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-attributes":{"put":{"tags":["/item-attributes"],"summary":"Imports a mini-batch of enterprise unit specific item attributes.","description":"<p>Import API will either create or update existing item-attributes documents.<br/> If the item-attribute already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document. Allows specifying multiple enterprise units in the request, with a maximum of 100 enterprise units per request. The API will perform an authorization check on the supplied enterprise units.</p> <p><h3>Input parameters:-</h3><code>request</code>: contains the list of item-attributes to save ","operationId":"item-attributes.saveMultiple","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/SaveMultipleItemAttributesRequest"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_ADMINISTRATOR"]}}},"/item-attributes/get-multiple":{"post":{"tags":["/item-attributes"],"summary":"Retrieves a collection of item-attribute documents matching the item-identifiers in the request","description":"This API retrieves a set of documents for a given set of item-identifiers. This API is executed on a context of a single enterprise unit which is expected to be passed as a standard header. The API does not fail, if any of the provided item-codes do not have corresponding attributes defined at the specified enterprise unit. This API allows clients to orchestrate multiple catalog APIs more effectively. For example, a client may run a search against global items by various supported parameters and then retrieve with a single call all enterprise  unit specific attributes (e.g. store level attributes) of the catalog items matched by the previous search. This API has no side-effects.<br/><p><h3>Input parameters:-</h3><code>request:</code> Identifies context of the client, such as enterprise unit that the client belongs to.<br/> <code>itemIdentifiers:</code> Object containing the item codes to use for the bulk retrieval.<br/><h3>Returns:</h3> A collection of objects that represents attributes associated with catalog items at the enterprise unit level.","operationId":"item-attributes.findMultiple","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit id.","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/AttributesItemIdCollectionData"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetItemAttributesResponse"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-attributes/{itemCode}/details":{"get":{"tags":["/item-attributes"],"summary":"Get item-attributes details.","description":"Get item attributes details for one or more enterprise unit.  If no enterprise unit is provided in request then results will be filter on organization level.","operationId":"item-attributes.getItemAttributesDetails","parameters":[{"name":"pageNumber","in":"query","description":"The requested page number (starting from zero)","required":false,"type":"integer","default":0,"maximum":214748,"minimum":0,"format":"int32","x-example":0},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","default":200,"maximum":10000,"minimum":10,"format":"int32","x-example":200},{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit identifier for which the item attributes are defined.  If not specified then result will be filter for all enterprise units (tenant level)","required":false,"type":"string"},{"name":"itemCode","in":"path","description":"An item's unique identifier for which attributes need to find","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetItemAttributesDetailsResponse"}},"400":{"description":"The request failed validation or exception is thrown when trying to access search results numbering greater than the result window (usually 10000 records). if you receive this exception please try to refine your search criteria or only request the first 10000 results. or this exception is thrown when trying to sort on a field (e.g. longdescription, shortdescription) that does not exist. this can occur when trying to sort on a field using a locale that you have no data for (trying to sort on long description with a fr-fr locale when you only have inserted data for the en-us locale). please check your locale and sort field an try again.","schema":{"$ref":"#/definitions/BusinessException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException","com.ncr.ocp.catalog.common.ResultWindowExceededException","com.ncr.ocp.catalog.common.SortFieldException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/subscriptions/{name}":{"get":{"tags":["/subscriptions"],"summary":"","description":"This rest endpoint will get the subscription with the specified name. Requires the CATALOG_MESSAGING_SUBSCRIBER role.","operationId":"subscriptions.getSubscription","parameters":[{"name":"name","in":"path","required":true,"type":"string"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UrlSubscriptionViewData"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The resource does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["CATALOG_MESSAGING_SUBSCRIBER"]}},"delete":{"tags":["/subscriptions"],"summary":"","description":"This rest endpoint will delete the subscription with the specified name. Requires the CATALOG_MESSAGING_SUBSCRIBER role.","operationId":"subscriptions.deleteSubscription","parameters":[{"name":"name","in":"path","required":true,"type":"string"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The resource does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["CATALOG_MESSAGING_SUBSCRIBER"]}}},"/subscriptions":{"post":{"tags":["/subscriptions"],"summary":"","description":"This rest endpoint will create a subscription to the 'catalog_update_v2' topic that will be filtered based on the requesting organization and enterprise unit. Requires the CATALOG_MESSAGING_SUBSCRIBER role.","operationId":"addSubscription_1","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/CatalogSubscriptionRequest"}}],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#/definitions/UrlSubscriptionViewData"}}}}},"/category-nodes/{nodeId}":{"get":{"tags":["/category-nodes"],"summary":"Retrieve a category node document by the resource identifier.","description":"<p>This API retrieves a complete category-node document for the requested <b>nodeId</b>.<br/></p><p><h3>Input parameter:- </h3> <code>nodeId:</code> Identifier of the node to retrieve.<br/><br/><h3>Returns:</h3> All fields of a category node, including read-only system generated/assigned fields.</p>","operationId":"category-nodes.get","parameters":[{"name":"nodeId","in":"path","description":"A unique code which is used to identify a node in hierarchy.","required":true,"type":"string","maximum":120,"minimum":1,"maxLength":120,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":120,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NodeViewData"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The node does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/category-nodes/suggestions":{"get":{"tags":["/category-nodes"],"summary":"Retrieve Category suggestions by the specified search criteria.","description":"<p>This API retrieves suggestions that fit the provided search criteria. In this case patterns are not mapped directly to specific fields, but rather apply to the several fields that may match the pattern. <br/>The search criteria is passed as a query parameter with the API request. If nodeCodePattern or titlePattern parameters are used, they will be applied as <b>a logical disjunction (OR) operation.</b> If tag or includeAncestors parameters are used, they will be applied <b>a logical conjunction (AND) operation.</b></p><p><h3>Input parameter:- </h3> <code>request:</code> A set of suggestions search criteria.<br/><h3>Returns:</h3>A page of catalog Category objects that match the specified search criteria. </p>","operationId":"category-nodes.findSuggestions","parameters":[{"name":"pageNumber","in":"query","description":"The requested page number (starting from zero)","required":false,"type":"integer","default":0,"maximum":214748,"minimum":0,"format":"int32","x-example":0},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","default":200,"maximum":10000,"minimum":10,"format":"int32","x-example":200},{"name":"nodeCodePattern","in":"query","description":"Node Code pattern to use for suggestions (standard wildcard matching rules apply).","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"titlePattern","in":"query","description":"Title pattern to use for suggestions (standard wildcard matching rules apply).","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"tag","in":"query","description":"Tag to use for suggestions.","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"includeAncestors","in":"query","description":"Indicates whether to include ancestors for suggestions or not. If true, includes all ancestors for each node.","required":false,"type":"boolean","default":false},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FindCategorySuggestionsResponse"}}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/category-nodes/snapshot":{"get":{"tags":["/category-nodes"],"summary":"Get the snapshot based on the provided client snapshot version.","description":"<p>A synchronization API that is used to synchronize the category node resource state with the remote client such as POS, Store Server or mobile device. Results are filterable by <i>STATUS</i> using the query parameter <code>status=<i>desiredResourceStatus</i></code>.<br/></p><p><h3>Input parameter:- </h3> request snapshot request containing snapshotVersion.<br/><br/><h3>Returns:</h3> Object with all of the fields of a category node, including read-only system generated/assigned fields.<br/><br/></p><p><b>If the the result payload exceeds maximum size (generally around 10K records), the document synchronization cannot be accomplished using APIs. The client should wait a few moments for the file to be available at the provided URI in the details.</b></p>","operationId":"category-nodes.getSnapshot","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit id.","required":false,"type":"string"},{"name":"nep-snapshot-version","in":"header","description":"Version of the client state. This attribute will be used by the back-end to identify the snapshot that should be generated per client. In a simple case, the version is a timestamp (epoch time in millis) and the generated snapshot will contain all documents modified since the provided timestamp.","required":false,"type":"integer","minimum":0,"format":"int64"},{"name":"status","in":"query","description":"Flag to filter just one status type.","required":false,"type":"string","enum":["INACTIVE","ACTIVE","DISCONTINUED","SEASONAL","TO_DISCONTINUE","UNAUTHORIZED"]},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetNodesSnapshotResponse"}},"302":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis, but there is already a response available at a new location.","schema":{"$ref":"#/definitions/PayloadExistsException"},"x-exception-types":["com.ncr.ocp.catalog.common.PayloadExistsException"]},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"409":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis. the client should wait for the file to be available at the provided uri in the details.","schema":{"$ref":"#/definitions/MaxPayloadSizeExceededException"},"x-exception-types":["com.ncr.ocp.catalog.common.MaxPayloadSizeExceededException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/category-nodes/{nodeId}/snapshot":{"get":{"tags":["/category-nodes"],"summary":"Get the snapshot for the specified parent node based on the provided client snapshot version.","description":"<p>This API retrieves a snapshot for a particular parent/root node, for example, getting a full snapshot just the \"primary\" (or \"merchandise\") hierarchy, which is identified as a \"primary\" node id. Results are filterable by <i>STATUS</i> using the query parameter <code>status=<i>desiredResourceStatus</i></code>.<br/></p><p><h3>Input parameter:- </h3> <code>request:</code> Snapshot request containing snapshotVersion.<br/><h3>Returns:</h3> Object with all of the fields of a category node, including read-only system generated/assigned fields.<br/><br/></p><p><b>If the the result payload exceeds maximum size (generally around 10K records), the document synchronization cannot be accomplished using APIs. The client should wait a few moments for the file to be available at the provided URI in the details.</b></p>","operationId":"category-nodes.getNodeSnapshot","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit id.","required":false,"type":"string"},{"name":"nep-snapshot-version","in":"header","description":"Version of the client state. This attribute will be used by the back-end to identify the snapshot that should be generated per client. In a simple case, the version is a timestamp (epoch time in millis) and the generated snapshot will contain all documents modified since the provided timestamp.","required":false,"type":"integer","minimum":0,"format":"int64"},{"name":"status","in":"query","description":"Flag to filter just one status type.","required":false,"type":"string","enum":["INACTIVE","ACTIVE","DISCONTINUED","SEASONAL","TO_DISCONTINUE","UNAUTHORIZED"]},{"name":"nodeId","in":"path","description":"Snapshot response will be limited to the hierarchy that starts with the specified node. This allows to get updates only for a specific hierarchy, for example only for \"primary\" hierarchy (which maps to \"merchandise\" for retail).","required":true,"type":"string","maximum":120,"minimum":1,"maxLength":120,"minLength":1,"maxItems":120,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetNodesSnapshotResponse"}},"302":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis, but there is already a response available at a new location.","schema":{"$ref":"#/definitions/PayloadExistsException"},"x-exception-types":["com.ncr.ocp.catalog.common.PayloadExistsException"]},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The resource does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]},"409":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis. the client should wait for the file to be available at the provided uri in the details.","schema":{"$ref":"#/definitions/MaxPayloadSizeExceededException"},"x-exception-types":["com.ncr.ocp.catalog.common.MaxPayloadSizeExceededException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/category-nodes":{"get":{"tags":["/category-nodes"],"summary":"Retrieve active category node documents by the specified search criteria.","description":"This API retrieves ACTIVE category-node documents by <b>parentId</b> passed as a query parameter. <br/><p><h3>Input parameter:- </h3> <code>request:</code> Object containing the parent identifier to search by.<br/><br/><h3>Returns:</h3> A page of node objects matching the given search criteria (may be empty).","operationId":"category-nodes.findByParent","parameters":[{"name":"pageNumber","in":"query","description":"The requested page number (starting from zero)","required":false,"type":"integer","default":0,"maximum":214748,"minimum":0,"format":"int32","x-example":0},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","default":200,"maximum":10000,"minimum":10,"format":"int32","x-example":200},{"name":"parentId","in":"query","description":"Parent code of the node to search by. If empty, root nodes are returned.","required":false,"type":"string","maximum":120,"minimum":1,"maxLength":120,"minLength":1,"maxItems":120,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FindNodesResponse"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The pagerequest does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}},"put":{"tags":["/category-nodes"],"summary":"Creates/Updates multiple category node documents.","description":"<p>This API creates/updates one or more category-node documents, for example the whole branch in the hierarchy or even the whole tree. If the item already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document.</p><p><h3>Input parameter:- </h3> <code>request:</code> Object containing the nodes to save.</p>","operationId":"category-nodes.saveMultiple","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/SaveMultipleNodesRequest"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The resource does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]},"409":{"description":"The state of the resource is invalid for the requested operation","schema":{"$ref":"#/definitions/InvalidResourceStateException"},"x-exception-types":["com.ncr.nep.common.exception.InvalidResourceStateException"]}},"x-authorities":{"roles":["R1_CATALOG_ADMINISTRATOR"]}}},"/category-nodes/{nodeId}/ancestors":{"get":{"tags":["/category-nodes"],"summary":"Retrieve ancestry information by the specified category node","description":"This API retrieves ancestry information for the specified <b>nodeId</b>.<br/><p><h3>Input parameter:- </h3> <code>nodeId:</code> Node identifier for which the ancestry must be returned.<br/><br/><h3>Returns:</h3> A snapshot that matches the request parameters (e.g. all category nodes modified since the submitted client version).</p>","operationId":"category-nodes.findAncestors","parameters":[{"name":"nodeId","in":"path","description":"A unique code which is used to identify a node in hierarchy.","required":true,"type":"string","maximum":120,"minimum":1,"maxLength":120,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":120,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FindNodesListResponse"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The node does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-custom-modifiers/{itemCode}/{linkGroupCode}/{linkedItemCode}":{"get":{"tags":["/item-custom-modifiers"],"summary":"Retrieve an item-custom-modifier document by the resource identifier","description":"<p>This API retrieves a complete item-custom-modifier document based on provided <b>itemCode,linkGroupCode and linkedItemCode</b> It is executed on a context of a single enterprise unit which is expected to be passed as a standard header.<br/></p><p><h3>Input parameters:-</h3> <code>itemCustomModifierIdentifier:</code> uniquely identifies item custom modifier to retrieve consisting of itemCode, linkGroupCode, and linkedItemCode.<br/><br/><h3>Returns:</h3> Object containing complete writable set of attributes for item custom modifier.</p>","operationId":"item-custom-modifiers.get","parameters":[{"name":"itemCode","in":"path","description":"A unique item (unique per Tenant) code which is used to identify the item.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit identifier for which the item attributes are defined.","required":true,"type":"string"},{"name":"linkGroupCode","in":"path","description":"A unique (per tenant) link group code that identifies the link group.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"linkedItemCode","in":"path","description":"A unique item (unique per Tenant) code which is used to identify the item.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemCustomModifierViewData"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The itemcustommodifier does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-custom-modifiers":{"put":{"tags":["/item-custom-modifiers"],"summary":"Imports a mini-batch of item custom modifier documents.","description":"<p>This import API will either create or update existing item custom modifier documents. If the item-custom-modifier already exists, the document will be updated only if the version number is greater than the version number of the existing document. It allows specifying multiple enterprise units in the request, with a maximum of 100 enterprise units per request. The API will perform an authorization check on the supplied enterprise units.<br/></p> <p><h3>Input parameters:-</h3>  <code>request:</code> contains the list of item custom modifiers to save<br/> ","operationId":"item-custom-modifiers.saveMultiple","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/SaveMultipleItemCustomModifierRequest"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_ADMINISTRATOR"]}}},"/item-custom-modifiers/get-multiple":{"post":{"tags":["/item-custom-modifiers"],"summary":"Retrieve a collection of matching custom item modifier documents","description":"<p>This API retrieves a set of item-custom-modifier-documents for a given set of item identifiers. This API is executed on a context of a single  enterprise unit which is expected to be passed as a standard header. The API does not fail if any of the provided item codes do not have corresponding custom modifiers defined at the specified enterprise unit (instead it returns empty object response). This API allows clients to orchestrate multiple catalog APIs more effectively. For example, a client may run a search against global items by various supported parameters and then retrieve single call all custom modifiers for a given enterprise unit (e.g. store/site)with a of the catalog items matched by the previous search. This API has no side-effects.<br/></p><p><h3>Input parameters:-</h3> <code>request:</code> Identifies context of the client, such as enterprise unit that the client belongs to.<br/><code>itemIdentifiers:</code> Object containing the item codes to use for bulk retrieval.<br/><br/><h3>Returns:</h3> A collection of the matched documents or empty collection if not matches were found.</p>","operationId":"item-custom-modifiers.findMultiple","parameters":[{"name":"pageNumber","in":"query","description":"The requested page number (starting from zero)","required":false,"type":"integer","default":0,"maximum":214748,"minimum":0,"format":"int32","x-example":0},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","default":200,"maximum":10000,"minimum":10,"format":"int32","x-example":200},{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit id","required":true,"type":"string"},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ItemIdCollectionData"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetItemCustomModifiersResponse"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-details/{item-identifier}":{"get":{"tags":["/item-details"],"summary":"Retrieve aggregate information for single item specified item by the resource identifier.","description":"<p>This API retrieves an aggregate of item data (from item, item-attribute and item-prices) for the provided <b>item-identifier</b>. This API is executed on a context of a single enterprise unit which is expected to be passed as a standard header. <b>It binds ACTIVE item-prices of item which are valid at the time of API call (valid item-prices).</b> Return item is never null<br/></p><p><h3>Input parameter:- </h3> <code>request:</code> Identifier for the item to retrieve.<br/><h3>Returns:</h3> Response object containing all known attributes for the specified item; never null.</p>","operationId":"item-details.get","parameters":[{"name":"item-identifier","in":"path","description":"Item code. This field could either be the primary item identifier or a package identifier without the type.","required":true,"type":"string","maximum":60,"minimum":1,"maxLength":60,"minLength":1,"pattern":"^\\p{Alnum}[\\w\\s\\-]*$","maxItems":60,"minItems":1},{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit id.","required":true,"type":"string"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetItemDetailsResponse"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The resource does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]},"409":{"description":"This exception is thrown when a request specifies an id that matches an itemcode and a packageidentifier of two separate entities. this can occur when one item's itemcode value is the same as another item's packageidentifier. please provide a disambiguous identifier to process your request.","schema":{"$ref":"#/definitions/AmbiguousItemCodePackageIdentifierException"},"x-exception-types":["com.ncr.ocp.catalog.exception.AmbiguousItemCodePackageIdentifierException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-details/search":{"get":{"tags":["/item-details"],"summary":"Search item details for criteria","description":"<p>This API finds item details for request search criteria for an enterprise unit. The search criteria is passed as a query parameter with the API request. <p><h3>Input parameter:- </h3> <code>request:</code> Search criteria containing an enterprise unit (mandatory).<br/><br/><h3>Returns:</h3> Item details for the criteria","operationId":"item-details.search","parameters":[{"name":"pageNumber","in":"query","description":"The requested page number (starting from zero)","required":false,"type":"integer","default":0,"maximum":214748,"minimum":0,"format":"int32","x-example":0},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","default":200,"maximum":10000,"minimum":10,"format":"int32","x-example":200},{"name":"itemCodePattern","in":"query","description":"Item Code pattern to use for a search (standard wildcard matching rules apply).","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"packageIdentifierPattern","in":"query","description":"Pattern for package identifier (any type) to use for a search (standard wildcard matching rules apply).","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"longDescriptionPattern","in":"query","description":"Pattern for long description to use for a search (standard wildcard matching rules apply).","required":false,"type":"string","maximum":1024,"minimum":1,"maxLength":1024,"minLength":1,"maxItems":1024,"minItems":1},{"name":"shortDescriptionPattern","in":"query","description":"Pattern for short description to use for a search (standard wildcard matching rules apply).","required":false,"type":"string","maximum":128,"minimum":1,"maxLength":128,"minLength":1,"maxItems":128,"minItems":1},{"name":"itemStatus","in":"query","description":"Item status to use for a search.","required":false,"type":"string","enum":["INACTIVE","ACTIVE","DISCONTINUED","SEASONAL","TO_DISCONTINUE","UNAUTHORIZED"]},{"name":"merchandiseCategoryId","in":"query","description":"Merchandise category code to use for a search. Exact match against the code to which the item belongs or any of the parent nodes.","required":false,"type":"string","maximum":120,"minimum":1,"maxLength":120,"minLength":1,"maxItems":120,"minItems":1},{"name":"sortDirection","in":"query","description":"Sort direction to the apply to the search results.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"sortField","in":"query","description":"Specifies the field on which to sort the items.","required":false,"type":"string","default":"SHORT_DESCRIPTION","enum":["ITEM_CODE","SHORT_DESCRIPTION","LONG_DESCRIPTION","POS_NUMBER"]},{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit id.","required":true,"type":"string"},{"name":"filterDate","in":"query","description":"A filter date to filter item prices (inclusive of start and exclusive of end date).  If prices base price is set to true then this date won't be consider","required":false,"type":"string","format":"date-time"},{"name":"groupCode","in":"query","description":"Group code to use for a search. Exact match against the code to which the item belongs.","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"linkGroupCode","in":"query","description":"Link group code to use for a search. Exact match against the code to which the item belongs.","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SearchItemDetailsResponse"}},"400":{"description":"The request failed validation or exception is thrown when trying to access search results numbering greater than the result window (usually 10000 records). if you receive this exception please try to refine your search criteria or only request the first 10000 results. or this exception is thrown when trying to sort on a field (e.g. longdescription, shortdescription) that does not exist. this can occur when trying to sort on a field using a locale that you have no data for (trying to sort on long description with a fr-fr locale when you only have inserted data for the en-us locale). please check your locale and sort field an try again.","schema":{"$ref":"#/definitions/BusinessException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException","com.ncr.ocp.catalog.common.ResultWindowExceededException","com.ncr.ocp.catalog.common.SortFieldException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-details":{"get":{"tags":["/item-details"],"summary":"Find item details for criteria","description":"<p>This API fetches item details for requested search criteria for an enterprise unit. The search criteria is passed as a query parameter with the API request. Items will be implicitly filtered out based on the following item-price criteria <br/><ol><li/>Base price is false <li/>INACTIVE prices<li/>Valid item-prices at the time of API call </ol></p><p><h3>Input parameter:- </h3> <code>request:</code> Finder criteria containing an enterprise unit (mandatory) and filter date (always in UTC).<br/><h3>Returns:</h3> Item details for the criteria</p>","operationId":"item-details.findByCriteria","parameters":[{"name":"pageNumber","in":"query","description":"The requested page number (starting from zero)","required":false,"type":"integer","default":0,"maximum":214748,"minimum":0,"format":"int32","x-example":0},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","default":200,"maximum":10000,"minimum":10,"format":"int32","x-example":200},{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit id.","required":true,"type":"string"},{"name":"filterDate","in":"query","description":"A filter date to filter item prices (inclusive of start and exclusive of end date).  If prices base price is set to true then this date won't be consider","required":false,"type":"string","format":"date-time"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FindItemsDetailsResponse"}},"400":{"description":"The request failed validation or exception is thrown when trying to access search results numbering greater than the result window (usually 10000 records). if you receive this exception please try to refine your search criteria or only request the first 10000 results. or this exception is thrown when trying to sort on a field (e.g. longdescription, shortdescription) that does not exist. this can occur when trying to sort on a field using a locale that you have no data for (trying to sort on long description with a fr-fr locale when you only have inserted data for the en-us locale). please check your locale and sort field an try again.","schema":{"$ref":"#/definitions/BusinessException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException","com.ncr.ocp.catalog.common.ResultWindowExceededException","com.ncr.ocp.catalog.common.SortFieldException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-details/{itemCode}/link-groups":{"get":{"tags":["/item-details"],"summary":"Get the link groups of an item","description":"Get all the nested link groups (including linked items with in a link group) details of an item.","operationId":"item-details.getLinkGroups","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"An Enterprise unit identifier for which the link groups are defined.  If not passed then link groups will be found globally (tenant level)","required":false,"type":"string"},{"name":"itemCode","in":"path","description":"An item's unique identifier","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetItemLinkGroupsResponse"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-groupings/{itemCode}/{itemGroupingsType}":{"get":{"tags":["/item-groupings"],"summary":"Retrieves an item-groupings document by the resource identifier.","description":"<p>This API retrieves an item-groupings document for the provided <b>itemCode</b> and <b>itemGroupingsType</b>. It is executed on a context of a single enterprise unit which is expected to be passed as a standard header.</p> <p><h3>Input parameter:- </h3><code>itemGroupingsId:</code> Identifier for the item-groupings to retrieve.<br/><h3>Returns:</h3> All of the fields of a catalog item-groupings, including read-only system generated/assigned fields.</p>","operationId":"item-groupings.get","parameters":[{"name":"itemCode","in":"path","description":"A unique item (unique per Tenant) code which is used to identify the item.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit identifier for which the item groupings are defined.","required":true,"type":"string"},{"name":"itemGroupingsType","in":"path","required":true,"type":"string","enum":["PROMOTION"]},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemGroupingsViewData"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The itemgroupings does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-groupings/snapshot":{"get":{"tags":["/item-groupings"],"summary":"Get the snapshot based on the provided client snapshot version.","description":"<p>Item groupings document synchronization API that is used to synchronize the resource state with the remote client such as POS, Store Server or mobile device.Results are filterable by <i>STATUS</i> using the query parameter <code>status=<i>desiredResourceStatus</i></code>.<br/></p><p><h3>Input parameter:- </h3><code>request:</code> Snapshot request containing snapshotVersion and enterpriseUnitId<br/><br/><h3>Returns:</h3> A snapshot that matches the request parameters (e.g. all item-groupings modified since the submitted client version).<br/><br/></p><p><b>If the the result payload exceeds maximum size (generally around 10K records), the document synchronization cannot be accomplished using APIs. The client should wait a few moments for the file to be available at the provided URI in the details.</b></p>","operationId":"item-groupings.getSnapshot","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit identifier for which the documents are defined.","required":true,"type":"string"},{"name":"nep-snapshot-version","in":"header","description":"Version of the client state. This attribute will be used by the back-end to identify the snapshot that should be generated per client. In a simple case, the version is a timestamp (epoch time in millis) and the generated snapshot will contain all documents modified since the provided timestamp.","required":false,"type":"integer","minimum":0,"format":"int64"},{"name":"status","in":"query","description":"Flag to filter just one status type.","required":false,"type":"string","enum":["INACTIVE","ACTIVE","DISCONTINUED","SEASONAL","TO_DISCONTINUE","UNAUTHORIZED"]},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetItemGroupingsSnapshotResponse"}},"302":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis, but there is already a response available at a new location.","schema":{"$ref":"#/definitions/PayloadExistsException"},"x-exception-types":["com.ncr.ocp.catalog.common.PayloadExistsException"]},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"409":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis. the client should wait for the file to be available at the provided uri in the details.","schema":{"$ref":"#/definitions/MaxPayloadSizeExceededException"},"x-exception-types":["com.ncr.ocp.catalog.common.MaxPayloadSizeExceededException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/item-groupings":{"put":{"tags":["/item-groupings"],"summary":"Creates/updates multiple item-grouping documents.","description":"<p>This API creates/updates one or more item-groupings documents. If the item-grouping already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document. Allows specifying multiple enterprise units in the request, with a maximum of 100 enterprise units per request. The API will perform an authorization check on the supplied enterprise units.<br/></p> <p><h3>Input parameter:- </h3> <code>request:</code> contains the list of item-groupings to save <br/></p> ","operationId":"item-groupings.saveMultiple","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/SaveMultipleItemGroupingsRequest"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_ADMINISTRATOR"]}}},"/item-groupings/snapshot/{itemGroupingsType}":{"get":{"tags":["/item-groupings"],"summary":"Get the snapshot based on the provided client snapshot version and item-groupings type.","description":"<p>Item-groupings document synchronization API that is used to synchronize the resource state with the remote client such as POS, Store Server or mobile device. Results are filterable by <i>STATUS</i> using the query parameter <code>status=<i>desiredResourceStatus</i></code>.<br/></p><p><h3>Input parameter:- </h3><code>request:</code> Snapshot request containing snapshotVersion, enterpriseUnitId, and itemGroupingsType<br/><br/><h3>Returns:</h3> A snapshot that matches the request parameters (e.g. all item-groupings modified since the submitted client version that are of certain itemGroupingsType).<br/><br/></p><p><b>If the the result payload exceeds maximum size (generally around 10K records), the document synchronization cannot be accomplished using APIs. The client should wait a few moments for the file to be available at the provided URI in the details.</b></p>","operationId":"item-groupings.getItemGroupingsTypeSnapshot","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit identifier for which the documents are defined.","required":true,"type":"string"},{"name":"nep-snapshot-version","in":"header","description":"Version of the client state. This attribute will be used by the back-end to identify the snapshot that should be generated per client. In a simple case, the version is a timestamp (epoch time in millis) and the generated snapshot will contain all documents modified since the provided timestamp.","required":false,"type":"integer","minimum":0,"format":"int64"},{"name":"status","in":"query","description":"Flag to filter just one status type.","required":false,"type":"string","enum":["INACTIVE","ACTIVE","DISCONTINUED","SEASONAL","TO_DISCONTINUE","UNAUTHORIZED"]},{"name":"itemGroupingsType","in":"path","description":"Snapshot response will be limited to the itemGroupingsType This allows to get updates only for a specific itemGroupingsType, for example only for \"groupings\" groupings.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetItemGroupingsSnapshotResponse"}},"302":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis, but there is already a response available at a new location.","schema":{"$ref":"#/definitions/PayloadExistsException"},"x-exception-types":["com.ncr.ocp.catalog.common.PayloadExistsException"]},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"409":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis. the client should wait for the file to be available at the provided uri in the details.","schema":{"$ref":"#/definitions/MaxPayloadSizeExceededException"},"x-exception-types":["com.ncr.ocp.catalog.common.MaxPayloadSizeExceededException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/groups/{groupCode}":{"get":{"tags":["/groups"],"summary":"Retrieve a group document based on the provided resource identifier.","description":"<p>This API retrieves all fields of a catalog group document associated with the specified <b>groupCode</b>.</p><p><h3>Input parameter:- </h3> <code>groupId:</code> Identifier of the group.<br/><h3>Returns:</h3> A complete set of attributes of a single catalog group document, including read-only and system defined fields.</p>","operationId":"groups.get","parameters":[{"name":"groupCode","in":"path","description":"Group code that uniquely identifies the group per tenant.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GroupViewData"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The group does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/groups":{"get":{"tags":["/groups"],"summary":"Retrieve an active group document by the specified search criteria.","description":"<p>This API will fetch group documents matching the specified search criteria. The search criteria is passed as a query parameter with the API request. </br>Fields named \\*Pattern support wild-card characters.<br/></p><p><h3>Input parameter:- </h3> <code>request:</code> A set of criteria to search by.<br/><h3>Returns:</h3> A page of group objects that match the specified search criteria.</p>","operationId":"groups.findByCriteria","parameters":[{"name":"pageNumber","in":"query","description":"The requested page number (starting from zero)","required":false,"type":"integer","default":0,"maximum":214748,"minimum":0,"format":"int32","x-example":0},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","default":200,"maximum":10000,"minimum":10,"format":"int32","x-example":200},{"name":"titlePattern","in":"query","description":"Title pattern to filter the search results. May be null, in that case all groups are returned.Fields named '*Pattern' support wild-card characters.<br/>Examples:<ul><li>titlePattern=group1 (exact match),</li> <li>titlePattern=so* (starts with so),</li> <li>titlePattern=*so* (contains so),</li> <li>titlePattern=* (any value)</li></ul>","required":false,"type":"string"},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FindGroupsResponse"}},"400":{"description":"The request failed validation or exception is thrown when trying to access search results numbering greater than the result window (usually 10000 records). if you receive this exception please try to refine your search criteria or only request the first 10000 results. or this exception is thrown when trying to sort on a field (e.g. longdescription, shortdescription) that does not exist. this can occur when trying to sort on a field using a locale that you have no data for (trying to sort on long description with a fr-fr locale when you only have inserted data for the en-us locale). please check your locale and sort field an try again.","schema":{"$ref":"#/definitions/BusinessException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException","com.ncr.ocp.catalog.common.ResultWindowExceededException","com.ncr.ocp.catalog.common.SortFieldException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}},"put":{"tags":["/groups"],"summary":"Creates/updates multiple groups for catalog.","description":"<p>This API creates/updates one or more groups for catalog. If the group already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document. </p><p><h3>Input parameter:- </h3> <code>request:</code> Object containing the groups to save.</p>","operationId":"groups.saveMultiple","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/SaveMultipleGroupsRequest"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_ADMINISTRATOR"]}}},"/groups/snapshot":{"get":{"tags":["/groups"],"summary":"Get the snapshot based on the provided client snapshot version.","description":"<p>Group document synchronization API that is used to synchronize the resource state with the remote client such as POS, Store Server or mobile device. Results are filterable by <i>STATUS</i> using the query parameter <code>status=<i>desiredResourceStatus</i></code>.</p><p><h3>Input parameter:- </h3> <code>request:</code> Snapshot request containing snapshotVersion<br/><h3>Returns:</h3> A snapshot that matches the request parameters.(e.g. all groups modified since the submitted client version)<br/><br/></p><p><b>If the the result payload exceeds maximum size (generally around 10K records), the document synchronization cannot be accomplished using APIs. The client should wait a few moments for the file to be available at the provided URI in the details.</b></p>","operationId":"groups.getSnapshot","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit id.","required":false,"type":"string"},{"name":"nep-snapshot-version","in":"header","description":"Version of the client state. This attribute will be used by the back-end to identify the snapshot that should be generated per client. In a simple case, the version is a timestamp (epoch time in millis) and the generated snapshot will contain all documents modified since the provided timestamp.","required":false,"type":"integer","minimum":0,"format":"int64"},{"name":"status","in":"query","description":"Flag to filter just one status type.","required":false,"type":"string","enum":["INACTIVE","ACTIVE","DISCONTINUED","SEASONAL","TO_DISCONTINUE","UNAUTHORIZED"]},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetGroupsSnapshotResponse"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"409":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis. the client should wait for the file to be available at the provided uri in the details.","schema":{"$ref":"#/definitions/MaxPayloadSizeExceededException"},"x-exception-types":["com.ncr.ocp.catalog.common.MaxPayloadSizeExceededException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/items/{itemCode}":{"get":{"tags":["/items"],"summary":"Retrieve an item document by the resource identifier.","description":"<p>This API retrieves document of a catalog item based on the provided <b>itemCode</b></p>.<p><h3>Input parameter:- </h3> <code>itemId:</code> Identifies the item to retrieve.<br/><h3>Returns:</h3> All of the fields of a single catalog item document, including read-only system generated/assigned fields.","operationId":"items.get","parameters":[{"name":"itemCode","in":"path","description":"A unique item (unique per Tenant) code which is used to identify the item.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ItemViewData"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The item does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}},"put":{"tags":["/items"],"summary":"Creates/Updates a catalog item document.","description":"<p>This API creates or updates an item with the provided identifier <b>itemCode</b>.If the item already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document. </p><p><h3>Input parameter:- </h3><code>itemCode:</code> the item identifier.<br/> <code>itemData:</code> the data containing the item information.</p>","operationId":"items.save","parameters":[{"name":"itemCode","in":"path","description":"A unique item (unique per Tenant) code which is used to identify the item.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/ItemData"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_ADMINISTRATOR"]}}},"/items":{"get":{"tags":["/items"],"summary":"Retrieve item document/s by the specified search criteria.","description":"<p>This API will fetch item documents matching the specified search criteria (also known as standard search).<br/> The search criteria is passed as a query parameter with the API request. If more than one parameters are used, they will be applied as <b>a logical conjunction (AND) operation.</b><br/>Fields named \\*Pattern support wild-card characters. Examples: <br/>itemCodePattern=12331231 (exact match),<br/> itemCodePattern=21\\* (starts with 21), <br/>itemCodePattern=\\*32\\* (contains 32), <br/> itemCodePattern=\\* (any value)<br/></p><p><h3>Input parameter:- </h3> <code>request:</code> It contains a set of item search criteria.<br/></p><h3>Returns:</h3>  A page of catalog item objects that match the specified search criteria.</p>","operationId":"items.findByCriteria","parameters":[{"name":"pageNumber","in":"query","description":"The requested page number (starting from zero)","required":false,"type":"integer","default":0,"maximum":214748,"minimum":0,"format":"int32","x-example":0},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","default":200,"maximum":10000,"minimum":10,"format":"int32","x-example":200},{"name":"itemCodePattern","in":"query","description":"Item Code pattern to use for a search (standard wildcard matching rules apply).","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"packageIdentifierPattern","in":"query","description":"Pattern for package identifier (any type) to use for a search (standard wildcard matching rules apply).","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"longDescriptionPattern","in":"query","description":"Pattern for long description to use for a search (standard wildcard matching rules apply).","required":false,"type":"string","maximum":1024,"minimum":1,"maxLength":1024,"minLength":1,"maxItems":1024,"minItems":1},{"name":"shortDescriptionPattern","in":"query","description":"Pattern for short description to use for a search (standard wildcard matching rules apply).","required":false,"type":"string","maximum":128,"minimum":1,"maxLength":128,"minLength":1,"maxItems":128,"minItems":1},{"name":"itemStatus","in":"query","description":"Item status to use for a search.","required":false,"type":"string","enum":["INACTIVE","ACTIVE","DISCONTINUED","SEASONAL","TO_DISCONTINUE","UNAUTHORIZED"]},{"name":"merchandiseCategoryId","in":"query","description":"Merchandise category code to use for a search. Exact match against the code to which the item belongs or any of the parent nodes.","required":false,"type":"string","maximum":120,"minimum":1,"maxLength":120,"minLength":1,"maxItems":120,"minItems":1},{"name":"sortDirection","in":"query","description":"Sort direction to the apply to the search results.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"sortField","in":"query","description":"Specifies the field on which to sort the items.","required":false,"type":"string","default":"SHORT_DESCRIPTION","enum":["ITEM_CODE","SHORT_DESCRIPTION","LONG_DESCRIPTION","POS_NUMBER"]},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FindItemsResponse"}},"400":{"description":"The request failed validation or exception is thrown when trying to access search results numbering greater than the result window (usually 10000 records). if you receive this exception please try to refine your search criteria or only request the first 10000 results. or this exception is thrown when trying to sort on a field (e.g. longdescription, shortdescription) that does not exist. this can occur when trying to sort on a field using a locale that you have no data for (trying to sort on long description with a fr-fr locale when you only have inserted data for the en-us locale). please check your locale and sort field an try again.","schema":{"$ref":"#/definitions/BusinessException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException","com.ncr.ocp.catalog.common.ResultWindowExceededException","com.ncr.ocp.catalog.common.SortFieldException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}},"put":{"tags":["/items"],"summary":"Imports a mini-batch of catalog items.","description":"<p>This import API will either create or update existing item documents.If the item already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document. </p><p><h3>Input parameter:- </h3><code>request:</code> contains the list of item to save</p> ","operationId":"items.saveMultiple","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/SaveMultipleItemsRequest"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_ADMINISTRATOR"]}}},"/items/suggestions":{"get":{"tags":["/items"],"summary":"Retrieve item suggestions by the specified search criteria.","description":"<p>This API retrieves suggestions that fit the provided search criteria. In this case patterns are not mapped directly to specific fields, but rather apply to the several fields that may match the pattern. In addition to the pattern match the suggestion search supports sorting based on the search score.<br/>The search criteria is passed as a query parameter with the API request. If more than one parameters are used, they will be applied as <b>a logical disjunction (OR) operation.</b></p><p><h3>Input parameter:- </h3> <code>request:</code> A set of suggestions search criteria.<br/><h3>Returns:</h3>A page of catalog item objects that match the specified search criteria. </p>","operationId":"items.findSuggestions","parameters":[{"name":"pageNumber","in":"query","description":"The requested page number (starting from zero)","required":false,"type":"integer","default":0,"maximum":214748,"minimum":0,"format":"int32","x-example":0},{"name":"pageSize","in":"query","description":"The page size","required":false,"type":"integer","default":200,"maximum":10000,"minimum":10,"format":"int32","x-example":200},{"name":"codePattern","in":"query","description":"Item Code pattern to use for a search (standard wildcard matching rules apply).","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"descriptionPattern","in":"query","description":"Pattern for short or long description to use for a search (standard wildcard matching rules apply)","required":false,"type":"string","maximum":512,"minimum":1,"maxLength":512,"minLength":1,"maxItems":512,"minItems":1},{"name":"packageIdentifierPattern","in":"query","description":"Pattern for package identifier (any type) to use for a search (standard pattern rules apply).","required":false,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"maxItems":100,"minItems":1},{"name":"posNumberPattern","in":"query","description":"Pattern for POS Identifier Number for Item to use for a search (standard pattern rules apply).","required":false,"type":"string","maximum":512,"minimum":1,"maxLength":512,"minLength":1,"maxItems":512,"minItems":1},{"name":"sortField","in":"query","description":"Sort field to apply to the retrieved items.","required":false,"type":"string","default":"SHORT_DESCRIPTION","enum":["ITEM_CODE","SHORT_DESCRIPTION","LONG_DESCRIPTION","SCORE","POS_NUMBER"]},{"name":"sortDirection","in":"query","description":"Sort direction to apply to the retrieved items.","required":false,"type":"string","default":"ASC","enum":["ASC","DESC"]},{"name":"merchandiseCategoryId","in":"query","description":"[Deprecated] Refer to merchandiseCategoryIdPattern.","required":false,"type":"string","maximum":120,"minimum":1,"maxLength":120,"minLength":1,"maxItems":120,"minItems":1},{"name":"merchandiseCategoryIdPattern","in":"query","description":"Merchandise category pattern. If provided the search will be restricted to just the items that fall into this category. The pattern must match for either the merchandise category node to which the item belongs or to any of the ancestors (standard wildcard matching rules apply).","required":false,"type":"string","maximum":120,"minimum":1,"maxLength":120,"minLength":1,"maxItems":120,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FindItemsResponse"}},"400":{"description":"The request failed validation or exception is thrown when trying to access search results numbering greater than the result window (usually 10000 records). if you receive this exception please try to refine your search criteria or only request the first 10000 results. or this exception is thrown when trying to sort on a field (e.g. longdescription, shortdescription) that does not exist. this can occur when trying to sort on a field using a locale that you have no data for (trying to sort on long description with a fr-fr locale when you only have inserted data for the en-us locale). please check your locale and sort field an try again.","schema":{"$ref":"#/definitions/BusinessException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException","com.ncr.ocp.catalog.common.ResultWindowExceededException","com.ncr.ocp.catalog.common.SortFieldException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/items/snapshot":{"get":{"tags":["/items"],"summary":"Get the snapshot based on the provided client snapshot version.","description":"<p>Item document synchronization API that is used to synchronize the resource state with the remote client such as POS, Store Server or mobile device. Results are filterable by <i>STATUS</i> using the query parameter <code>status=<i>desiredResourceStatus</i></code>.</p><p><h3>Input parameter:- </h3> <code>request:</code> Snapshot request containing snapshotVersion.<br/><br/><h3>Returns:</h3> Snapshot that matches the request parameters (e.g. all items modified since the submitted client version).<br/><br/></p><p><b>If the the result payload exceeds maximum size (generally around 10K records), the document synchronization cannot be accomplished using APIs. The client should wait a few moments for the file to be available at the provided URI in the details.</b></p>","operationId":"items.getSnapshot","parameters":[{"name":"nep-enterprise-unit","in":"header","description":"Enterprise unit id.","required":false,"type":"string"},{"name":"nep-snapshot-version","in":"header","description":"Version of the client state. This attribute will be used by the back-end to identify the snapshot that should be generated per client. In a simple case, the version is a timestamp (epoch time in millis) and the generated snapshot will contain all documents modified since the provided timestamp.","required":false,"type":"integer","minimum":0,"format":"int64"},{"name":"status","in":"query","description":"Flag to filter just one status type.","required":false,"type":"string","enum":["INACTIVE","ACTIVE","DISCONTINUED","SEASONAL","TO_DISCONTINUE","UNAUTHORIZED"]},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetItemsSnapshotResponse"}},"302":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis, but there is already a response available at a new location.","schema":{"$ref":"#/definitions/PayloadExistsException"},"x-exception-types":["com.ncr.ocp.catalog.common.PayloadExistsException"]},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"409":{"description":"Exception is thrown on attempt to synchronize an offline state (e.g. from a store server or pos) when the result payload exceeds a predefined size and cannot be accomplished using apis. the client should wait for the file to be available at the provided uri in the details.","schema":{"$ref":"#/definitions/MaxPayloadSizeExceededException"},"x-exception-types":["com.ncr.ocp.catalog.common.MaxPayloadSizeExceededException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/items/get-multiple":{"post":{"tags":["/items"],"summary":"Retrieve items by the specified item codes or package identifiers.","description":"<p>This API retrieves items based on the provided item codes or package identifiers.</b></p><p><h3>Input parameter:- </h3> <code>request:</code> A list of item codes and/or package identifiers. The limit for number of unique resource id passed as input is 100<br/><h3>Returns:</h3>A list of catalog items with matching item codes or packageIdentifier mentioned in the request.</p>","operationId":"items.findMultiple","parameters":[{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/GetMultipleItemRequest"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GetMultipleItemResponse"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}}},"/link-groups/{linkGroupCode}":{"get":{"tags":["/link-groups"],"summary":"Retrieves a link group document by the resource identifier.","description":"<p>This API retrieves a document of a link-group based on the provided <b>linkGroupCode</b></p>.<p><h3>Input parameter:- </h3> <code>linkGroupId:</code> Identifies the link group document to retrieve.<br/><h3>Returns:</h3> Link group document containing writable and read-only attributes of the retrieved link group.</p>","operationId":"link-groups.get","parameters":[{"name":"linkGroupCode","in":"path","description":"A unique (per tenant) link group code that identifies the link group.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LinkGroupViewData"}},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]},"404":{"description":"The linkgroup does not exist","schema":{"$ref":"#/definitions/ResourceDoesNotExistException"},"x-exception-types":["com.ncr.nep.common.exception.ResourceDoesNotExistException"]}},"x-authorities":{"roles":["R1_CATALOG_VIEWER"]}},"put":{"tags":["/link-groups"],"summary":"Creates/Updates a link-group document.","description":"<p>This API creates or updates a link-group with the provided identifier <b>linkGroupCode</b>. If the link-group already exists, the document will be updated only if the version number in the request is greater than the version number of the existing document. If enterprise unit header is specified with the request, the object is saved with the specified enterprise unit making the link group applicable only for the specified unit (site/store).<br/></p><p><h3>Input parameter:- </h3> <code>linkGroupId:</code> Request containing link group identifier and optional enterprise unit information.<br/> <code>linkGroup:</code> Object containing the link group to save.</p>","operationId":"link-groups.save","parameters":[{"name":"linkGroupCode","in":"path","description":"A unique (per tenant) link group code that identifies the link group.","required":true,"type":"string","maximum":100,"minimum":1,"maxLength":100,"minLength":1,"pattern":"\\p{Alnum}[\\w-]*","maxItems":100,"minItems":1},{"in":"body","name":"body","required":false,"schema":{"$ref":"#/definitions/LinkGroupData"}},{"name":"nep-correlation-id","in":"header","description":"A unique ID that can be used to correlate one or more related requests for debugging or tracing purposes","required":false,"type":"string","x-example":"WUSRB185213-AE7-11243-22a2c887-12a7-48e6-b9af-0ed7fb67e4cb"},{"name":"nep-organization","in":"header","description":"The organization the request applies to","required":false,"type":"string","maxLength":512,"minLength":1,"x-example":"sample-organization"}],"responses":{"204":{"description":"No Content"},"400":{"description":"The request failed validation","schema":{"$ref":"#/definitions/PayloadConstraintViolationException"},"x-exception-types":["com.ncr.nep.common.exception.PayloadConstraintViolationException"]}},"x-authorities":{"roles":["R1_CATALOG_ADMINISTRATOR"]}}},"/link-groups":{"get":{"tags":["/link-groups"],"summary":"Retrieve active link-group do
[...]
