{
	"openapi": "3.0.1",
	"info": {
		"title": "Order v3",
		"description": "Order Service v3",
		"contact": {},
		"license": {
			"name": "NCR Corporation - Copyright 2021"
		},
		"version": "3.21.0-24-08-2022184338-f62328cb2"
	},
	"servers": [{
		"url": "https://api.ncr.com/order/v3"
	}],
	"tags": [{
		"name": "orders",
		"description": "Service API for handling orders."
	}, {
		"name": "subscriptions",
		"description": "Service API for handling order subscriptions."
	}, {
		"name": "support",
		"description": "Service API for handling support operations with orders."
	}],
	"paths": {
		"/orders": {
			"post": {
				"tags": ["orders"],
				"summary": "Create a new order",
				"description": "Creates a new order with an automatically generated ID",
				"operationId": "create",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "Content-Type",
					"in": "header",
					"description": "The media type of the entity-body, this endpoint only allows application/json as body",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "application/json"
				}, {
					"name": "nep-source-organization",
					"in": "header",
					"description": "Indicates the order's source organization disregarding user's organization",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/OrderData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			}
		},
		"/orders/find": {
			"post": {
				"tags": ["orders"],
				"summary": "Find all orders matching the specified criteria",
				"description": "Finds all orders that match ALL criteria provided in the request",
				"operationId": "findByCriteria",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "Content-Type",
					"in": "header",
					"description": "The media type of the entity-body, this endpoint only allows application/json as body",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "application/json"
				}, {
					"name": "pageNumber",
					"in": "query",
					"description": "The requested page number (starting from zero)",
					"required": false,
					"style": "form",
					"explode": true,
					"schema": {
						"maximum": 2147483647,
						"minimum": 0,
						"type": "integer",
						"format": "int32",
						"default": 0
					},
					"example": 0
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "The page size",
					"required": false,
					"style": "form",
					"explode": true,
					"schema": {
						"maximum": 10000,
						"minimum": 1,
						"type": "integer",
						"format": "int32",
						"default": 10
					},
					"example": 20
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/OrderFinderCriteria"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/FindOrdersResult"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_VIEWER"]
				}
			}
		},
		"/orders/find-by-additional-reference-id": {
			"post": {
				"tags": ["orders"],
				"summary": "Find orders by a value in the Additional Reference Id field",
				"description": "Find orders by additional reference id.  Only matches orders which contain the additional reference id. Time boxing is strongly recommended for performance",
				"operationId": "findByAdditionalReferenceId",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "Content-Type",
					"in": "header",
					"description": "The media type of the entity-body, this endpoint only allows application/json as body",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "application/json"
				}, {
					"name": "pageNumber",
					"in": "query",
					"description": "The requested page number (starting from zero)",
					"required": false,
					"style": "form",
					"explode": true,
					"schema": {
						"maximum": 2147483647,
						"minimum": 0,
						"type": "integer",
						"format": "int32",
						"default": 0
					},
					"example": 0
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "The page size",
					"required": false,
					"style": "form",
					"explode": true,
					"schema": {
						"maximum": 10000,
						"minimum": 1,
						"type": "integer",
						"format": "int32",
						"default": 10
					},
					"example": 20
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/FindOrdersByAdditionalReferenceIdCriteria"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/FindOrdersResult"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			}
		},
		"/orders/find-unacknowledged": {
			"get": {
				"tags": ["orders"],
				"summary": "Find unacknowledged orders",
				"description": "Returns all unacknowledged orders for the specified enterprise unit",
				"operationId": "resync",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "pageNumber",
					"in": "query",
					"description": "Page number requested (default = 0)",
					"required": false,
					"style": "form",
					"explode": true,
					"schema": {
						"maximum": 214748,
						"minimum": 0,
						"type": "integer",
						"format": "int32",
						"default": 0
					}
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "Page size requested (default = 10)",
					"required": false,
					"style": "form",
					"explode": true,
					"schema": {
						"maximum": 50,
						"minimum": 1,
						"type": "integer",
						"format": "int32",
						"default": 10
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResyncResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Not Found: Enterprise unit does not exist"
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_SITE_VIEWER"]
				}
			}
		},
		"/orders/{id}": {
			"get": {
				"tags": ["orders"],
				"summary": "Get an order",
				"description": "Retrieves an order by the specified ID",
				"operationId": "get",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_VIEWER"]
				}
			},
			"put": {
				"tags": ["orders"],
				"summary": "Replace an order",
				"description": "Replaces the entire order object with the submitted data",
				"operationId": "update",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nr1-device-id",
					"in": "header",
					"description": "ID of the device to lock the order with (required if the order is locked)",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "Content-Type",
					"in": "header",
					"description": "The media type of the entity-body, this endpoint only allows application/json as body",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "application/json"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "If-Match",
					"in": "header",
					"description": "ETag description used for optimistic locking",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string",
						"default": ""
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/OrderData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"409": {
						"description": "Conflict",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLockedException"
								}
							}
						}
					},
					"412": {
						"description": "Precondition Failed: Order was updated since last read.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceStaleException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			},
			"patch": {
				"tags": ["orders"],
				"summary": "Patch an order",
				"description": "Fields not sent in the body remain unchanged. Collection objects with provided LineIDs will be updated. New collection objects will be merged with the existing collection. Fields can be removed by setting them to null.",
				"operationId": "patch",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nr1-device-id",
					"in": "header",
					"description": "ID of the device to lock the order with (required if the order is locked)",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "Content-Type",
					"in": "header",
					"description": "The media type of the entity-body, this endpoint only allows application/json as body",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "application/json"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "If-Match",
					"in": "header",
					"description": "ETag description used for optimistic locking",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string",
						"default": ""
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"additionalProperties": {
									"type": "object"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"409": {
						"description": "Conflict",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLockedException"
								}
							}
						}
					},
					"412": {
						"description": "Precondition Failed: Order was updated since last read.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceStaleException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			}
		},
		"/orders/{id}/acks": {
			"post": {
				"tags": ["orders"],
				"summary": "Acknowledge an order",
				"description": "Acknowledges receipt of an order",
				"operationId": "acknowledge",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "If-Match",
					"in": "header",
					"description": "ETag description used for optimistic locking",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string",
						"default": ""
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"412": {
						"description": "Precondition Failed: Order was updated since last read.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceStaleException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_SITE_ADMINISTRATOR"]
				}
			}
		},
		"/orders/{id}/force-lock": {
			"post": {
				"tags": ["orders"],
				"summary": "Force lock an order",
				"description": "Overrides any existing locks on an order and locks it",
				"operationId": "forceLock",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nr1-device-id",
					"in": "header",
					"description": "ID of the device to lock the order with",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "If-Match",
					"in": "header",
					"description": "ETag description used for optimistic locking",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string",
						"default": ""
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"412": {
						"description": "Precondition Failed: Order was updated since last read.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceStaleException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_LOCK_ADMIN"]
				}
			}
		},
		"/orders/{id}/force-unlock": {
			"post": {
				"tags": ["orders"],
				"summary": "Force unlock an order",
				"description": "Overrides any existing locks on an order and unlocks it",
				"operationId": "forceUnlock",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "If-Match",
					"in": "header",
					"description": "ETag description used for optimistic locking",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string",
						"default": ""
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"412": {
						"description": "Precondition Failed: Order was updated since last read.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceStaleException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_LOCK_ADMIN"]
				}
			}
		},
		"/orders/{id}/lock": {
			"post": {
				"tags": ["orders"],
				"summary": "Lock an order",
				"description": "Locks an Order if it is not currently locked by another device",
				"operationId": "lock",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nr1-device-id",
					"in": "header",
					"description": "ID of the device to lock the order with",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "If-Match",
					"in": "header",
					"description": "ETag description used for optimistic locking",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string",
						"default": ""
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"409": {
						"description": "Conflict",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLockedException"
								}
							}
						}
					},
					"412": {
						"description": "Precondition Failed: Order was updated since last read.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceStaleException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			}
		},
		"/orders/{id}/order-lines": {
			"post": {
				"tags": ["orders"],
				"summary": "Add a new Order line to an Order",
				"description": "Adds a new Order line to an Order with an automatically generated ID",
				"operationId": "createOrderLine",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nr1-device-id",
					"in": "header",
					"description": "ID of the device to lock the order with (required if the order is locked)",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "Content-Type",
					"in": "header",
					"description": "The media type of the entity-body, this endpoint only allows application/json as body",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "application/json"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/OrderLineData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLineData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"409": {
						"description": "Conflict",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLockedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			}
		},
		"/orders/{id}/order-lines/{lineId}": {
			"get": {
				"tags": ["orders"],
				"summary": "Get an Order line from an Order",
				"description": "Retrieves an Order line from the specified Order by the specified lineId",
				"operationId": "getOrderLine",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "lineId",
					"in": "path",
					"description": "The line identifier. Must be unique for this order. Will be generated if not specified.",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLineData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_VIEWER"]
				}
			},
			"put": {
				"tags": ["orders"],
				"summary": "Replace an Order line on an Order",
				"description": "Replaces the entire Order line object with the submitted data",
				"operationId": "updateOrderLine",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nr1-device-id",
					"in": "header",
					"description": "ID of the device to lock the order with (required if the order is locked)",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "Content-Type",
					"in": "header",
					"description": "The media type of the entity-body, this endpoint only allows application/json as body",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "application/json"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "lineId",
					"in": "path",
					"description": "The line identifier. Must be unique for this order. Will be generated if not specified.",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "If-Match",
					"in": "header",
					"description": "ETag description used for optimistic locking",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string",
						"default": ""
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/OrderLineData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLineData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"409": {
						"description": "Conflict",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLockedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			},
			"delete": {
				"tags": ["orders"],
				"summary": "Delete an Order line from an Order",
				"description": "Deletes an Order line from a specified Order by the specified lineId",
				"operationId": "deleteOrderLine",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nr1-device-id",
					"in": "header",
					"description": "ID of the device to lock the order with (required if the order is locked)",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "lineId",
					"in": "path",
					"description": "The line identifier. Must be unique for this order. Will be generated if not specified.",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"409": {
						"description": "Conflict",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLockedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			},
			"patch": {
				"tags": ["orders"],
				"summary": "Patch an Order line on an Order",
				"description": "Patches an Order line on a specified Order by the specified lineId. Fields not sent in the body remain unchanged. Collection objects with provided LineIDs will be updated. New collection objects will be merged with the existing collection. Fields can be removed by setting them to null.",
				"operationId": "patchOrderLine",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nr1-device-id",
					"in": "header",
					"description": "ID of the device to lock the order with (required if the order is locked)",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "Content-Type",
					"in": "header",
					"description": "The media type of the entity-body, this endpoint only allows application/json as body",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "application/json"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "lineId",
					"in": "path",
					"description": "The line identifier. Must be unique for this order. Will be generated if not specified.",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "If-Match",
					"in": "header",
					"description": "ETag description used for optimistic locking",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string",
						"default": ""
					}
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"additionalProperties": {
									"type": "object"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLineData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"409": {
						"description": "Conflict",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLockedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			}
		},
		"/orders/{id}/unlock": {
			"post": {
				"tags": ["orders"],
				"summary": "Unlock an order",
				"description": "Unlocks the Order only if the device ID specified matches the ID on the lock",
				"operationId": "unlock",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nr1-device-id",
					"in": "header",
					"description": "ID of the device to lock the order with",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "If-Match",
					"in": "header",
					"description": "ETag description used for optimistic locking",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string",
						"default": ""
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"409": {
						"description": "Conflict",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderLockedException"
								}
							}
						}
					},
					"412": {
						"description": "Precondition Failed: Order was updated since last read.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceStaleException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			}
		},
		"/orders/{id}/versions": {
			"get": {
				"tags": ["orders"],
				"summary": "Get order versions",
				"description": "Returns the current and previous versions of an order",
				"operationId": "getVersions",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "pageNumber",
					"in": "query",
					"description": "Page number requested (default = 0)",
					"required": false,
					"style": "form",
					"explode": true,
					"schema": {
						"maximum": 214748,
						"minimum": 0,
						"type": "integer",
						"format": "int32",
						"default": 0
					}
				}, {
					"name": "pageSize",
					"in": "query",
					"description": "Page size requested (default = 10)",
					"required": false,
					"style": "form",
					"explode": true,
					"schema": {
						"maximum": 50,
						"minimum": 1,
						"type": "integer",
						"format": "int32",
						"default": 10
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderVersionsResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_VIEWER"]
				}
			}
		},
		"/orders/{id}/versions/{versionId}": {
			"get": {
				"tags": ["orders"],
				"summary": "Get specified order version",
				"description": "Returns the specified version of an Order",
				"operationId": "getSingleVersion",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "id",
					"in": "path",
					"description": "Order unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "versionId",
					"in": "path",
					"description": "Version ID unique identifier",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderVersionResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_VIEWER"]
				}
			}
		},
		"/subscriptions": {
			"get": {
				"tags": ["subscriptions"],
				"summary": "View all subscriptions to order change topics",
				"description": "Returns all subscriptions in an organization to order change topics",
				"operationId": "getAllSubscriptions",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "pageNumber",
					"in": "query",
					"required": false,
					"style": "form",
					"explode": true,
					"schema": {
						"maximum": 214748,
						"minimum": 0,
						"type": "integer",
						"format": "int32",
						"default": 0
					}
				}, {
					"name": "pageSize",
					"in": "query",
					"required": false,
					"style": "form",
					"explode": true,
					"schema": {
						"maximum": 10000,
						"minimum": 10,
						"type": "integer",
						"format": "int32",
						"default": 200
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/FindSubscriptionsResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			},
			"post": {
				"tags": ["subscriptions"],
				"summary": "Create subscription to specific order service topics",
				"description": "Creates a custom subscription that is subscribed to the order service topic",
				"operationId": "create_1",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-enterprise-unit",
					"in": "header",
					"description": "Allows a consumer to specify that the request should be processed within the context of a specific enterprise unit.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "Content-Type",
					"in": "header",
					"description": "The media type of the entity-body, this endpoint only allows application/json as body",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "application/json"
				}],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateOrderSubscriptionRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OrderUrlSubscriptionsViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			}
		},
		"/subscriptions/{name}": {
			"get": {
				"tags": ["subscriptions"],
				"summary": "Get a subscription to order change topics",
				"description": "Retrieves a subscription by the specified name",
				"operationId": "getSubscription",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "name",
					"in": "path",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"maxLength": 200,
						"minLength": 1,
						"pattern": "\\p{Alpha}[\\w-]*",
						"type": "string"
					}
				}],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UrlSubscriptionViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			},
			"delete": {
				"tags": ["subscriptions"],
				"summary": "Delete subscription to specific order service topics",
				"description": "Deletes the specified subscription",
				"operationId": "delete",
				"parameters": [{
					"name": "nep-organization",
					"in": "header",
					"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					}
				}, {
					"name": "nep-service-version",
					"in": "header",
					"description": "Identifies the application version to route the incoming request.",
					"required": false,
					"style": "simple",
					"explode": false,
					"schema": {
						"type": "string"
					},
					"example": "3:1"
				}, {
					"name": "name",
					"in": "path",
					"required": true,
					"style": "simple",
					"explode": false,
					"schema": {
						"maxLength": 200,
						"minLength": 1,
						"pattern": "\\p{Alpha}[\\w-]*",
						"type": "string"
					}
				}],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": ["R1_ORDER_ADMINISTRATOR"]
				}
			}
		}
	},
	"components": {
		"schemas": {
			"AccessDeniedException": {
				"type": "object",
				"properties": {
					"businessMessage": {
						"type": "string"
					},
					"details": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"errorType": {
						"type": "string"
					}
				}
			},
			"AdjustmentData": {
				"type": "object",
				"properties": {
					"applied": {
						"type": "boolean",
						"description": "Indicates whether an order has a loyalty ID applied to it or not."
					},
					"level": {
						"type": "string",
						"description": "Identifies how the adjustment is applied to the order",
						"enum": ["ITEM", "ORDER"]
					},
					"type": {
						"type": "string",
						"description": "Identifies the adjustment type",
						"enum": ["PROMO", "COMP", "LOYALTY"]
					}
				},
				"description": "Identify the adjustment"
			},
			"AuthenticationData": {
				"required": ["authenticationType", "credentials"],
				"type": "object",
				"properties": {
					"authenticationType": {
						"type": "string",
						"enum": ["BASIC"]
					},
					"credentials": {
						"maxLength": 500,
						"minLength": 1,
						"type": "string"
					}
				},
				"description": "Authentication credentials needed for endpoint"
			},
			"BusinessException": {
				"type": "object",
				"properties": {
					"businessMessage": {
						"type": "string"
					},
					"details": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"errorType": {
						"type": "string"
					}
				}
			},
			"CheckInDetailsData": {
				"type": "object",
				"properties": {
					"application": {
						"type": "string",
						"description": "Name of the application used to initiate the check in event",
						"example": "POS"
					},
					"location": {
						"type": "string",
						"description": "CheckIn location from where order can be picked up",
						"example": "Store Front"
					},
					"origin": {
						"$ref": "#/components/schemas/CheckInOriginData"
					},
					"vector": {
						"$ref": "#/components/schemas/CheckInVectorData"
					}
				},
				"description": "CheckIn details for the order"
			},
			"CheckInOriginData": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "A specific number of the origin type to help identify it",
						"format": "int32"
					},
					"type": {
						"type": "string",
						"description": "Check-in origin type",
						"example": "mobile or web"
					}
				},
				"description": "Checkin origin"
			},
			"CheckInVectorData": {
				"type": "object",
				"properties": {
					"id": {
						"type": "integer",
						"description": "A specific number of the vector type to help identify it",
						"format": "int32"
					},
					"type": {
						"type": "string",
						"description": "Check-in vector type",
						"example": "printer, queue, terminal, display or kiosk"
					}
				},
				"description": "Checkin vector"
			},
			"CreateOrderSubscriptionRequest": {
				"required": ["description", "endpoint", "name"],
				"type": "object",
				"properties": {
					"authenticationCredentials": {
						"$ref": "#/components/schemas/AuthenticationData"
					},
					"description": {
						"type": "string",
						"description": "Description of the subscription"
					},
					"endpoint": {
						"$ref": "#/components/schemas/UrlEndpointData"
					},
					"messageAttributePatterns": {
						"type": "array",
						"description": "The message attribute patterns to use when selecting messages published on a topic. If patterns are specified, the subscription will receive only those messages that are published with attributes that match the subscription's patterns. Each attribute pattern specified must be matched against the message's attribute values for the message to be delivered to the subscriber. Each message attribute pattern value must be a valid regular expression pattern",
						"items": {
							"$ref": "#/components/schemas/KeyValueData"
						},
						"enum": ["channel", "channel-label", "fulfillment-address-country", "fulfillment-type", "fulfillment-type-label", "source"]
					},
					"name": {
						"maxLength": 200,
						"minLength": 1,
						"pattern": "\\p{Alpha}[\\w-]*",
						"type": "string"
					},
					"payloadDelivered": {
						"type": "boolean",
						"description": "Indicates if payload should be delivered"
					}
				}
			},
			"CrossStreetData": {
				"required": ["name"],
				"type": "object",
				"properties": {
					"lineId": {
						"type": "string"
					},
					"name": {
						"type": "string",
						"description": "Near by or cross street name for address",
						"example": "Peachtree St"
					}
				},
				"description": "List of streets that intersect this address"
			},
			"CustomerData": {
				"type": "object",
				"properties": {
					"email": {
						"maxLength": 255,
						"minLength": 0,
						"type": "string",
						"description": "Email address, for identification and contact purposes"
					},
					"externalIds": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/CustomerIdData"
						}
					},
					"firstName": {
						"type": "string",
						"description": "The customer's first name"
					},
					"fiscalId": {
						"type": "string",
						"description": "Fiscal identification of the customer"
					},
					"id": {
						"maxLength": 255,
						"minLength": 0,
						"type": "string",
						"description": "The customer identifier, referencing the NCR platform customer data"
					},
					"lastName": {
						"type": "string",
						"description": "The customer's last name"
					},
					"name": {
						"maxLength": 255,
						"minLength": 0,
						"type": "string",
						"description": "The customer name is used for groups, organizations or usernames. If specifying an individual’s name, use the first and last name fields."
					},
					"phone": {
						"maxLength": 255,
						"minLength": 0,
						"type": "string",
						"description": "Phone number, for identification and contact purposes"
					},
					"phoneExtension": {
						"type": "string",
						"description": "Phone extension, for contact purposes"
					}
				},
				"description": "The customer of this order"
			},
			"CustomerIdData": {
				"type": "object",
				"properties": {
					"lineId": {
						"type": "string"
					},
					"type": {
						"type": "string",
						"description": "The type of customer ID",
						"example": "Other",
						"enum": ["Reference", "Tax", "Loyalty", "Other"]
					},
					"typeLabel": {
						"type": "string",
						"description": "If the 'Other' type is used, then provide a label specifying the type"
					},
					"value": {
						"type": "string",
						"description": "The customer id description"
					}
				}
			},
			"ExpirationData": {
				"type": "object",
				"properties": {
					"month": {
						"type": "integer",
						"description": "Expiration month.",
						"format": "int32"
					},
					"year": {
						"type": "integer",
						"description": "Expiration year.",
						"format": "int32"
					}
				},
				"description": "Date of expiration of the payment method like Credit card or Gift card or Debit Card"
			},
			"FeeData": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "Amount of the fee"
					},
					"groupMemberId": {
						"type": "string",
						"description": "ID of the group member to which this order line item belongs"
					},
					"lineId": {
						"type": "string"
					},
					"override": {
						"type": "boolean",
						"description": "Indicates this fee amount should be used instead of a calculated fee"
					},
					"provider": {
						"type": "string",
						"description": "The service provider charging the fee"
					},
					"type": {
						"type": "string",
						"description": "The type of fee",
						"example": "Web",
						"enum": ["None", "CallIn", "Catering", "WalkIn", "Delivery", "EatIn", "DriveThru", "Curbside", "FaxedIn", "Web", "ModeCharge", "Other"]
					},
					"typeLabel": {
						"type": "string",
						"description": "If the 'Other' type is used, then provide a label specifying the type"
					}
				},
				"description": "Fees charged to this order, such as delivery or setup fees"
			},
			"FindOrdersByAdditionalReferenceIdCriteria": {
				"required": ["referenceIdName", "referenceIdValue"],
				"type": "object",
				"properties": {
					"fromCreatedDate": {
						"type": "string",
						"description": "Search orders starting at this date",
						"format": "date-time"
					},
					"referenceIdName": {
						"type": "string",
						"description": "Name of the field to search on"
					},
					"referenceIdValue": {
						"type": "string",
						"description": "Value of the field to search for"
					},
					"toCreatedDate": {
						"type": "string",
						"description": "Search orders ending at this date",
						"format": "date-time"
					}
				}
			},
			"FindOrdersResult": {
				"type": "object",
				"properties": {
					"lastPage": {
						"type": "boolean"
					},
					"pageContent": {
						"type": "array",
						"description": "List of orders that matches the find criteria, limited by pageSize.",
						"items": {
							"$ref": "#/components/schemas/OrderViewData"
						}
					},
					"pageNumber": {
						"type": "integer",
						"format": "int32"
					},
					"totalPages": {
						"minimum": 0,
						"type": "integer",
						"format": "int64"
					},
					"totalResults": {
						"minimum": 0,
						"type": "integer",
						"format": "int64"
					}
				},
				"description": "The result of a find operation on the orders resource."
			},
			"FindSubscriptionsResponse": {
				"type": "object",
				"properties": {
					"lastPage": {
						"type": "boolean"
					},
					"pageContent": {
						"maxItems": 10000,
						"minItems": 0,
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/SubscriptionBasicViewData"
						}
					},
					"pageNumber": {
						"type": "integer",
						"format": "int32"
					},
					"totalPages": {
						"minimum": 0,
						"type": "integer",
						"format": "int64"
					},
					"totalResults": {
						"minimum": 0,
						"type": "integer",
						"format": "int64"
					}
				}
			},
			"FulfillmentAddressBusinessData": {
				"type": "object",
				"properties": {
					"department": {
						"type": "string",
						"description": "Specific department name."
					},
					"name": {
						"type": "string",
						"description": "Business name."
					}
				},
				"description": "Additional business data if this is a business address."
			},
			"FulfillmentAddressData": {
				"type": "object",
				"properties": {
					"businessInfo": {
						"$ref": "#/components/schemas/FulfillmentAddressBusinessData"
					},
					"city": {
						"type": "string",
						"description": "City of the address"
					},
					"coordinates": {
						"$ref": "#/components/schemas/GeolocationCoordinatesData"
					},
					"country": {
						"maxLength": 128,
						"minLength": 0,
						"pattern": "\\p{Alpha}[\\p{Alpha}'-\\., ]*",
						"type": "string",
						"description": "Country of the address."
					},
					"crossStreets": {
						"type": "array",
						"description": "List of streets that intersect this address",
						"items": {
							"$ref": "#/components/schemas/CrossStreetData"
						}
					},
					"line1": {
						"type": "string",
						"description": "First line of the address."
					},
					"line2": {
						"type": "string",
						"description": "Second line of the address."
					},
					"notes": {
						"type": "string",
						"description": "Delivery notes for the address (e.g. Use entrance on east side)."
					},
					"postalCode": {
						"type": "string",
						"description": "Postal code of the address."
					},
					"state": {
						"type": "string",
						"description": "State or province of the address."
					},
					"type": {
						"type": "string",
						"description": "The type of address.",
						"example": "Other",
						"enum": ["Business", "Residential", "Other"]
					},
					"typeLabel": {
						"type": "string",
						"description": "If type is 'Other', optionally specify the address type."
					}
				},
				"description": "Address information used in fulfillment (e.g. a delivery address)"
			},
			"FulfillmentData": {
				"type": "object",
				"properties": {
					"address": {
						"$ref": "#/components/schemas/FulfillmentAddressData"
					},
					"autoClose": {
						"type": "boolean",
						"description": "Indicates if the order is fulfilled as an open check"
					},
					"autoRelease": {
						"type": "boolean",
						"description": "Indicates if the order should be auto released for fulfillment"
					},
					"catering": {
						"type": "boolean",
						"description": "Indicates if the order is fulfilled by catering"
					},
					"fulfillmentTime": {
						"type": "string",
						"description": "Indicates the time at which an order should be fulfilled",
						"format": "date-time",
						"example": "2018-01-31T12:34:56.789Z"
					},
					"leadTimes": {
						"type": "array",
						"description": "Fulfillment lead time expected for the order, such as delivery time or preparation time",
						"items": {
							"$ref": "#/components/schemas/FulfillmentLeadTimeData"
						}
					},
					"notes": {
						"type": "string",
						"description": "Notes added to aid in fulfillment (e.g. customer delivery instructions)"
					},
					"pickupDate": {
						"type": "string",
						"description": "The date when the customer is due to collect the order",
						"format": "date-time",
						"example": "2017-07-06T21:03:46.514Z"
					},
					"pickupLocation": {
						"maxLength": 255,
						"minLength": 0,
						"type": "string",
						"description": "The store where the customer will collect his order"
					},
					"tableId": {
						"type": "string",
						"description": "The id of the table where the open check is coming from.",
						"example": "Table4"
					},
					"type": {
						"type": "string",
						"description": "The type of fulfillment needed for this order",
						"example": "Pickup",
						"enum": ["Delivery", "Pickup", "Notification", "Curbside", "DineIn", "DriveThru", "Other"]
					},
					"typeLabel": {
						"type": "string",
						"description": "If 'Other' is the declared type, use typeLabel to specify the actual type"
					}
				},
				"description": "Information needed to fulfill the order delivery"
			},
			"FulfillmentLeadTimeData": {
				"type": "object",
				"properties": {
					"interval": {
						"type": "integer",
						"description": "The measure for the lead time.",
						"format": "int32"
					},
					"intervalUnits": {
						"type": "string",
						"description": "The unit of measure for the lead time",
						"example": "Minutes",
						"enum": ["Seconds", "Minutes", "Hours", "Days"]
					},
					"lineId": {
						"type": "string"
					},
					"type": {
						"type": "string",
						"description": "The type of the lead time.",
						"example": "Other",
						"enum": ["Transit", "Preparation", "Setup", "Other"]
					},
					"typeLabel": {
						"type": "string",
						"description": "If the 'Other' type is used, then provide a label specifying the lead time."
					}
				},
				"description": "Fulfillment lead time expected for the order, such as delivery time or preparation time"
			},
			"GeolocationCoordinatesData": {
				"required": ["latitude", "longitude"],
				"type": "object",
				"properties": {
					"latitude": {
						"maximum": 90,
						"minimum": -90,
						"type": "number",
						"description": "Represents the latitude degrees of the geographic coordinates",
						"format": "double",
						"example": 33.6817952
					},
					"longitude": {
						"maximum": 180,
						"minimum": -180,
						"type": "number",
						"description": "Represents the longitude degrees of the geographic coordinates",
						"format": "double",
						"example": -84.4239568
					}
				},
				"description": "Geolocation coordinates for the address"
			},
			"GroupMemberData": {
				"type": "object",
				"properties": {
					"externalIds": {
						"type": "object",
						"additionalProperties": {
							"type": "string",
							"description": "Set of group member IDs for externals systems."
						},
						"description": "Set of group member IDs for externals systems."
					},
					"firstName": {
						"type": "string",
						"description": "The group member's first name."
					},
					"fiscalId": {
						"type": "string",
						"description": "Fiscal identification of the group member"
					},
					"lastName": {
						"type": "string",
						"description": "The group member's last name."
					},
					"lineId": {
						"type": "string"
					},
					"name": {
						"type": "string",
						"description": "The group name for groups, organizations or usernames"
					}
				},
				"description": "List of group members for group ordering on line items"
			},
			"InvalidCredentialsException": {
				"type": "object",
				"properties": {
					"businessMessage": {
						"type": "string"
					},
					"details": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"errorType": {
						"type": "string"
					}
				}
			},
			"JsonNode": {
				"type": "object",
				"description": "RFC 6902 JSON Patch Diff"
			},
			"KeyValueData": {
				"required": ["key"],
				"type": "object",
				"properties": {
					"key": {
						"type": "string"
					},
					"value": {
						"maxLength": 512,
						"minLength": 1,
						"type": "string"
					}
				}
			},
			"LinePriceModifierData": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "The discount or surcharge amount"
					},
					"description": {
						"type": "string",
						"description": "Description of the price change"
					},
					"lineId": {
						"type": "string"
					},
					"referenceId": {
						"type": "string",
						"description": "The price change reference, like a promotion id"
					}
				},
				"description": "The price modifiers for this line only"
			},
			"LineTaxData": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "The tax amount"
					},
					"code": {
						"type": "string",
						"description": "The tax code"
					},
					"isIncluded": {
						"type": "boolean",
						"description": "Indicate if the tax is included in the item price"
					},
					"lineId": {
						"type": "string"
					},
					"percentage": {
						"type": "number",
						"description": "Tax percentage for presentation purposes. May be null"
					}
				},
				"description": "The taxes for this line only"
			},
			"LockData": {
				"type": "object",
				"properties": {
					"lockedBy": {
						"type": "string",
						"description": "The unique Id/Name of the touchpoint that locked the customer order"
					},
					"lockedDate": {
						"type": "string",
						"description": "The Date/Time when the locked happened, in ISO 8601 format",
						"format": "date-time",
						"example": "2017-07-06T21:03:46.514Z"
					}
				},
				"description": "Orders' owner locking information"
			},
			"OrderAdditionalUrlSubscriptionViewData": {
				"type": "object",
				"properties": {
					"name": {
						"type": "string"
					},
					"topicId": {
						"$ref": "#/components/schemas/TopicIdData"
					}
				}
			},
			"OrderCriteriaSort": {
				"type": "object",
				"properties": {
					"column": {
						"type": "string",
						"description": "The column to sort the results by",
						"enum": ["CreatedDate", "UpdatedDate"]
					},
					"direction": {
						"type": "string",
						"description": "The direction to sort the results",
						"enum": ["Asc", "Desc"]
					}
				},
				"description": "The sort order for the paged find response"
			},
			"OrderData": {
				"type": "object",
				"properties": {
					"additionalReferenceIds": {
						"type": "object",
						"additionalProperties": {
							"type": "string",
							"description": "Map of additional Reference ID strings for the order"
						},
						"description": "Map of additional Reference ID strings for the order"
					},
					"bagCount": {
						"minimum": 1,
						"type": "integer",
						"description": "Number of bags in the order",
						"format": "int32"
					},
					"channel": {
						"type": "string",
						"description": "Channel through which the Order was placed",
						"example": "Web",
						"enum": ["PhoneIn", "WalkIn", "Web", "eMail", "CallCenter", "Mobile", "DriveThru", "Forecourt", "Fax", "Other"]
					},
					"channelLabel": {
						"type": "string",
						"description": "If 'Other' is the declared type, use channelLabel to specify the actual type"
					},
					"checkInDetails": {
						"$ref": "#/components/schemas/CheckInDetailsData"
					},
					"comments": {
						"maxLength": 4000,
						"minLength": 0,
						"type": "string",
						"description": "General comments for whole order"
					},
					"currency": {
						"maxLength": 255,
						"minLength": 0,
						"type": "string",
						"description": "The currency of all money values in the order. This is the currency code as defined in ISO 4217"
					},
					"customer": {
						"$ref": "#/components/schemas/CustomerData"
					},
					"dateClosed": {
						"type": "string",
						"description": "The date and time when order was closed.",
						"format": "date-time",
						"example": "2017-07-06T21:03:46.514Z"
					},
					"dateFulfilled": {
						"type": "string",
						"description": "The date and time when order status was changed to FINISHED.",
						"format": "date-time",
						"example": "2017-07-06T21:03:46.514Z"
					},
					"dateInTransit": {
						"type": "string",
						"description": "The date and time when order status was changed to IN_TRANSIT.",
						"format": "date-time",
						"example": "2017-07-06T21:03:46.514Z"
[...]
