.body {
    padding: 0;
    margin: 0;
}

.Parent {
    display: flex;
    flex-direction: row;
}

.child1 {
    width: 40%;
    height: 100vh;
    background-color: rgb(211, 211, 211);
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 100px;
}

.child2 {
    width: 60%;
    color: green;
    height: 100vh;
}
.ProjectWorkflowsParent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProjectWorkflowsChild1 {
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 30px;

}

.ProjectWorkflowsChild2 {
    width: 80%;
    color: green;
    height: 10;
    padding: 30px;
}

.ManageProjectParent {
    display: flex;
    flex-direction: row;
}

.ManageProjectChild1{
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 40px;
}

.ManageProjectChild2{
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 40px;
}


.SchemaMapperParent {
    display: flex;
    flex-direction: row;
}

.SchemaMapperChild1 {
    width: 40%;
    height: 100vh;
    background-color: rgb(211, 211, 211);
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 100px;
}

.SchemaMapperChild2 {
    width: 60%;
    color: green;
    height: 100vh;
}

.TriggerSchemaMapper {
    width: 50%;
    height: 100vh;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 50px;
}

.ActionSchemaMapper {
    width: 50%;
    color: green;
    height: 100vh;
    padding: 50px;
}
