.body {
    padding: 0;
    margin: 0;
}

.Parent {
    display: flex;
    flex-direction: row;
}

.child1 {
    width: 40%;
    height: 100vh;
    background-color: rgb(211, 211, 211);
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 100px;
}

.child2 {
    width: 60%;
    color: green;
    height: 100vh;
}
.ProjectWorkflowsParent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProjectWorkflowsChild1 {
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 30px;

}

.ProjectWorkflowsChild2 {
    width: 80%;
    color: green;
    height: 10;
    padding: 30px;
}

.ManageProjectParent {
    display: flex;
    flex-direction: row;
}

.ManageProjectChild1{
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 40px;
}

.ManageProjectChild2{
    width: 50%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 40px;
}

.ManageProjectConfigurationParent{
    display: flex;
    flex-direction: row;
}
.ManageProjectConfigurationFooter{
    display: flex;
    flex-direction: row;
    text-align: right;
}
.ManageProjectConfigurationChild1{
    width: 50%;
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(0, 0, 0);
    /* padding: 40px; */
}

.ManageProjectConfigurationChild2{
    width: 50%;
    background-color: rgb(255, 255, 255);
    text-align: right;
    color: rgb(0, 0, 0);
    /* padding: 40px; */
}

.ManageInterfacesParent {
    display: flex;
    flex-direction: row;
}

.ManageInterfacesChild1{
    width: 35%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 40px;
}

.ManageInterfacesChild2{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 40px;
}


.SchemaMapperParent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TriggerSchemaMapper {
    width: 30%;
    height: 100vh;
    text-align: left;
    color: rgb(0, 0, 0);
    padding: 50px;
}

.ActionSchemaMapper {
    width: 30%;
    color: rgb(0, 0, 0);
    height: 100vh;
    padding: 50px;
}


.SchemaMappingView {
    display: block;
    flex-direction: row;
    width: '20%'
}

.SchemaMappingOverlayContainer {
    justify-content: center;
    align-items: center;
    width: "100vw";
    margin: 0 auto;
    background-color: #d00808;

}

.SideBarMenuItem { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #d00808;
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
